header{
 background-color: rgb(255, 250, 243);
    display:  flex;
    
}

.Navigation  a{
    text-decoration: none;
    color: #052812;
    font-family: Arial, Helvetica, sans-serif;
}

.Navigation{
    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;
    padding-right: 50px;
}
.Title {
    font-family:  Arial, Helvetica, sans-serif;
    color: #052812;
    
}


 .conteinor1{
     background-color: rgb(255, 250, 243);
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .title1{
    font-family: Arial, Helvetica, sans-serif;
    color: #052812;
    font-size: 70px;
    margin: 0;
 }

 .text1{
    font-family: Arial, Helvetica, sans-serif;
    color: #052812;
    font-size: 20px;
 }  

 .textConeinor{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }

 .paragrapg1{
    width: 35%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #052812;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 50px;
 }

 .smallConteinor2{
    width: 50%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
 }

 .button1{
    background-color: #002b16;
    color: #eafff3;          
    border: none;
    padding: 14px 40px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 999px;   
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
 }

 .button1:hover{
      background-color: #ffffff;
    color: #002b16;
    border-color: #002b16;
  border: 1px solid #002b16;
 }

 .site-footer {
    background-color: #3a7d3a; 
    color: #ffffff;
    width: 100%;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.footer-left h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

.footer-left p {
    margin: 6px 0;
    font-size: 16px;
}


.footer-right {
    text-align: right;
}

.footer-right a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 16px;
}

.footer-right a:hover {
    text-decoration: underline;
}

.footer-right .copyright {
    margin-top: 30px;
}

.footer-right .copyright p {
    margin: 4px 0;
    font-size: 15px;
}


@media (max-width: 900px) {
    .footer-content {
        flex-direction: column;
        gap: 40px;
    }

    .footer-right {
        text-align: left;
    }
}


body{
    margin: 0;
    padding: 0;
}
